.color-red{
  color: red;
}
.color-green{
  color: green;
}
.color-blue{
  color: blue;
}
.color-yellow{
  color: yellow;
}

.color-magenta{
  color: magenta;
}
.color-black{
  color: black;
}
.color-white{
  color: white;
}
.color-gray{
  color: gray;
}
.color-lightgray{
  color: lightgray;
}
.color-darkgray{
  color: darkgray;
}
.color-orange{
  color: orange;
}
.color-purple{
  color: purple;
}
.color-pink{
  color: pink;
}
.color-brown{
  color: brown;
}
.color-lime{
  color: lime;
}
.color-olive{
  color: olive;
}
.color-navy{
  color: navy;
}
.color-teal{
  color: teal;
}
.color-maroon{
  color: maroon;
}
.color-silver{
  color: silver;
}
.color-gold{
  color: gold;
}
.color-cream{
  color: cream;
}
.color-ivory{
  color: ivory;
}
.color-salmon{
  color: salmon;
}